{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="fixed-page">
		<div class="center-content">
			<h1>Graphing</h1>
			{% if df_html %}
			  <p> File: {{ session['filename'] }} </p>
				<br>
				{{ df_html|safe }}

			<!-- Graph selection  -->
			<div>
				<br>
				<form class="input-form" id="graph-create-form" name="graph-create-form" method="POST">
						<fieldset>
							<legend>Generate a Graph</legend>
								Graph Title:<br>
								<input type="text" id="title" name="title" placeholder="Input graph title">

								<br><br>
								<select name="graph_type" id="graph_type">
									<option disable selected value=None>-- Select Graph Type --</option>
									<option value="scatter">Scatter</option>
									<option value="line">Line</option>
									<option value="bar">Bar</option>
								</select>
								Select graph type

							
							<br><br>
									<select name="xaxis" id="xaxis">
										<option disable selected value=None> --Select X-Axis -- </option>
										{% for key in session['data'] %}
										<option value="{{ key }}">{{ key }} </option>
										{% endfor %}		
									</select>
									Select X-Axis
									<br>
									<input type="text" id="xlabel" name="xlabel" placeholder="Input x-axis title">
											
							<br><br>
									<select name="yaxis" id="yaxis">
										<option disable selected value=None> --Select Y-Axis -- </option>
										{% for key in session['data'] %}
										<option value="{{ key }}">{{ key }} </option>
										{% endfor %}
									</select>
									Select Y-Axis
									<br>
									<input type="text" id="ylabel" name="ylabel" placeholder="Input y-axis title">
							
									<br><br>
									<select name="colors" id="colors">
										<option disable selected value=None> --Select Color Scheme -- </option>
										{% for cmap_id in cmaps %}
										<option value="{{ cmap_id }}">{{ cmap_id }} </option>
										{% endfor %}
									</select>
									Select Color Scheme
								<br><br>		
			
								<input type="submit" value="Generate Graph">

						</fieldset>
				</form>
			</div>			

			<!-- Modal for displaying graph -->
			<div id="graph-modal" class="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Your Graph</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							{{ plot | safe }}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- JQuery to call open the modal when the graph is created  -->
			<script>
			{% if graph_requested %}
				$(document).ready(function(){
					$("#graph-modal").modal('show');
				});
			{% endif %}
			</script>

			{% else %}
				<p>No file uploaded, please return to homepage</p>
			{% endif %}	
		</div>	
	</div>
{% endblock %}