{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="fixed-page">
		<h1>Parse</h1>
				
		<form method="POST">
			<label for="user-text">Input text here:</label><br>
			<textarea type="text" id="user-text" name="user-text" rows="10" cols="80"></textarea><br>
			<input type="submit" value="Get Data About Text">
		</form>

		<!-- Modal for displaying graph -->
		<div id="graph-modal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Your Graph</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ plot | safe }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- JQuery to call open the modal when the graph is created  -->
		<script>
		{% if graph_requested %}
			$(document).ready(function(){
				$("#graph-modal").modal('show');
			});
		{% endif %}
		</script>
	</div>	

{% endblock %}